.button {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;

  border-radius: 2.375rem;
  cursor: pointer;
  transition: 0.3s;
}

.regular {
  padding: 1.5625rem 5rem;
  color: #331111;
  background: #dd9428;
  border: 0.125rem solid #dd9428;
  &:hover {
    background: none;
    color: #dd9428;
  }
}

.secondery {
  padding: 1.5625rem 4.0625rem;
  border: 0.125rem solid #dd9428;
  color: #dd9428;
  &:hover {
    background-color: #dd9428;
    color: #331111;
  }
}

.small {
  padding: 1.5625rem 2.875rem;
}

@media (max-width: 80rem) {
  .regular {
    padding: 1.125rem 3.75rem;
  }
  .secondery {
    padding: 1.125rem 3.4375rem;
  }
  .small {
    padding: 1.125rem 2.25rem;
  }
}

@media (max-width: 70rem) {
  .button {
    font-size: 1rem;
  }
  .regular {
    padding: 0.875rem 2.5rem;
  }
  .secondery {
    padding: 0.875rem 2.1875rem;
  }
  .small {
    padding: 0.875rem 1rem;
  }
}
